{% extends "ClinicMan/layout.html" %}

{% load static %}

{% block body %}
<div class="container">
    <table class="table table-borderless" id="patientTable" >
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Doctor Name</td>
                <td>Patient Name</td>
                <td>Appointment Date</td>
                <td>Appointment Time</td>
                <td>Appointment status</td>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr id="appointment{{appointment.id}}">
                {% if appointment.status == True %}
                    <td id="DocName{{appointment.id}}">{{ appointment.doctor }}</td>
                    <td id="PatiName{{appointment.id}}">{{ appointment.patient }}</td>
                    <td id="AppoiDate{{appointment.id}}">{{ appointment.date }}</td>
                    <td id="AppoiTime{{appointment.id}}">{{ appointment.time }}</td>
                    <td ><span>Not Attended</span></td>
                    <td>
                        <button idappointment="{{appointment.id}}" class="btneditappointment" data-toggle="modal" data-target="#modaledit1"><i class="fa fa-edit"></i></button>
                    </td>
                    <td>
                        <a class="btnremove" href="{% url 'removeappointme' appointment.id %}" ><i class="fa fa-remove"></i></a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page" class="current">
            <a class="page-link" href="#">{{ posts.number }}</a>
        </li>
        {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade edit-modal1" id="modaledit1" tabindex="-1" role="dialog" aria-labelledby="modaledit1label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modaledit1label">Update Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form id="updateappointment" action="">
            <div class="modal-body">
              {% csrf_token %}
                <label for="doc" class="m3-5 mb-2 p-2">Doctor</label>
                <select id="select_doctor" class="select_doctor" name="select_doctor">
                {% for user in users %}
                    <option id="form-doc" value="{{user.id}}" name="formDoc" class="form-control">{{user.username}}</option>
                {% endfor %}
                <label for="date">Date </label>
                <input class="form-control" id="form-date" type="date" name="formDate"/>
                <label for="time">Time</label>
                <input class="form-control" id="form-time" type="time" name="formTime"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveappointment">Save</button>
            </div>
          </form>
        </div>
    </div>
  </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'ClinicMan/script.js' %}"></script>
{% endblock %}