{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
{% if messages %}

    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}

{% endif %}
    <form action="{% url 'newpage' %}" method="POST">
        {% csrf_token %}
        {{ new_entry }}
        <button class="btn btn-secondary" type="submit">Create new entry</button>
    </form>
{% endblock %}